@import '../../styles/main.scss';

.Navigation {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.3s ease-in;
  z-index: 999;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;

  .NavigationContainer {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  @media (min-width: $screen-md) {
    position: unset;
    width: unset;
    background: transparent;
    transition: none;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  a {
    font-family: $font-sans-serif;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    letter-spacing: $letter-spacing-medium;
    text-align: center;
    text-transform: uppercase;
    color: $light-text-color;
    padding: 20px;
    margin: 0 10px;
    transition: $transition;

    @media (min-width: $screen-md) {
      color: #fff;
      padding: 0 5px;

      :last-child {
        padding-right: 0;
        margin-right: 0;
      }
    }

    &:hover {
      color: $grey;
    }
  }
}

:global {
  .open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 0;
  }
}
