@import '../../styles/main.scss';

.WorkBrickContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;

  // @media (min-width: $screen-md) {
  //   > li:nth-child(even) {
  //     flex-direction: row-reverse;
  //   }
  // }
}

.WorkBrick {
  display: flex;
  flex-direction: column;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
  width: 100%;
  background-color: #fff;
  
  transition: $transition;

  @media (min-width: $screen-md) {
    margin: 20px 15px;
    width: calc((100%/2) - 30px);

    &:hover {
      box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.35);

      .image {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .textContainer {
    height: 230px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 30px 15px;
    text-align: center;
    height: 100%;
    max-height: 100%;

    .title {
      margin-top: 0;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .image {
    max-width: 100%;
    max-height: 100%;
    transition: $transition;
  }
}

.technology {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: center;

  @media (min-width: $screen-md) {
    justify-content: flex-start;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 20px;

    img {
      max-width: 85%;
      max-height: 85%;
    }
  }
}
