$purple: #4f27a7;
$light-text-color: #808487;
$dark-text-color: #212529;
$light-grey: #626881;
$grey: #626881;
$blue: #529fdf;

// Page
$grey-bg: #f8f9fd;

// Buttons
$orange-bg: linear-gradient(135deg, #ffc188 0%, #ffefbb 100%);
$light-blue-bg: linear-gradient(135deg, #9ebafd 0%, #aae2f2 100%);
$red-bg: linear-gradient(135deg, #ff9e98 0%, #ffd7c1 100%);
$green-bg: linear-gradient(135deg, #80e3b1 0%, #e5f9b5 100%);
$pink-bg: linear-gradient(135deg, #ffb4e8 0%, #ffdae6 100%);
$purple-bg: linear-gradient(135deg, #a29bf4 0%, #e0cbff 100%);
$tomato-bg: #e34a73;
