$font-sans-serif: 'Montserrat', 'Arial', sans-serif;
$font-serif: 'Playfair Display', serif;
$font-paragraph: 'Lora', serif;

$font-size-small: 1.1rem;
$font-size-normal: 1.6rem;
$font-size-semi-large: 1.6rem;
$font-size-large: 2.6rem;
$font-size-xlarge: 5rem;
$font-size-xxlarge: 7.2rem;

$letter-spacing-small: 0.5px;
$letter-spacing-medium: 2px;
$letter-spacing-large: 3px;

$line-height-normal: 2rem;
$line-height-medium: 2.8rem;
$line-height-large: 3.8rem;

$font-weight-thin: 100;
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
