@import '../../styles/main.scss';

.WorkBrickContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    > li:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.WorkBrick {
  display: flex;
  flex-direction: column;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
  border-radius: 15px;
  overflow: hidden;
  margin: 50px auto;
  width: 100%;
  max-width: 920px;

  @media (min-width: $screen-md) {
    flex-direction: row;

    > div {
      width: 50%;
    }
  }

  .text {
    background-color: #fff;
    padding: 80px 60px;

    .title {
      margin-top: 0;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.technology {
  display: flex;
  flex-direction: row;
  margin: 20px 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 20px;

    img {
      max-width: 85%;
      max-height: 85%;
    }
  }
}

:global {
  .weather-app-bg {
    background: linear-gradient(135deg, #ffc188 0%, #ffefbb 100%);
  }
}
