@import "../../styles/main.scss";

.Companies {
  background-color: $grey-bg;
  padding: 40px 10px;
  text-align: center;
  max-width: 100%;

  .title {

    @media (min-width: $screen-md) {
      margin-bottom: 100px;
    }
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    justify-content: space-around;
    
    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((100%/2) - 10px);
      background-color: #fff;
      border-radius: 15px;
      margin: 5px;
      padding: 10px;

      @media (min-width: $screen-md) {
        width: calc((100%/4) - 30px);
      }
    }

    img {
      margin: 10px;
      // height: 100%;
      max-width: 100%;
      opacity: 0.4;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      

     
    }
  }
}
