@import '../../styles/main.scss';

.PortfolioDevices {
  background-color: $grey-bg;
  padding: 60px 10px 40px;
  text-align: center;
  max-width: 100%;
}

.devices {
  width: 600px;
  max-width: 90%;
}
