@import '../../styles/main.scss';

.PortfolioWork {
  background-color: $grey-bg;
  padding: 40px 10px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.task {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 5px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
  border-radius: 15px;
  text-align: left;
  line-height: $line-height-normal;
}

:global {
  .fa-check-circle {
    margin-right: 15px;
    color: #80e3b1;
    font-size: 16px;
  }
}
