* {
  box-sizing: border-box;
  color: $light-text-color;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: 62.5%;
  font-family: $font-sans-serif;
  body {
    margin: 0;
    font-size: $font-size-normal;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-family: $font-serif;
  letter-spacing: $letter-spacing-large;
  font-size: $font-size-xlarge;
  color: $dark-text-color;
  text-align: center;

  @media (min-width: $screen-md) {
    font-size: $font-size-xxlarge;
  }
}

h2 {
  font-family: $font-serif;
  font-size: $font-size-xlarge;
  letter-spacing: $letter-spacing-medium;
  color: $dark-text-color;
  text-align: center;

  &:after {
    content: '';
    display: block;
    margin: 20px auto 0;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: $dark-text-color;
    opacity: 0.1;
  }
}

h3 {
  font-family: $font-serif;
  font-size: $font-size-large;
  line-height: $line-height-large;
  letter-spacing: $letter-spacing-medium;
  color: $dark-text-color;
}

p {
  line-height: $line-height-medium;
}

a {
  text-decoration: none;
  color: unset;
}

:global {
  .pageContent {
    position: relative;
    transition: $transition;
  }
  .orange-bg {
    background: $orange-bg;
  }
  .light-blue-bg {
    background: $light-blue-bg;
  }
  .red-bg {
    background: $red-bg;
  }
  .green-bg {
    background: $green-bg;
  }
  .pink-bg {
    background: $pink-bg;
  }
  .purple-bg {
    background: $purple-bg;
  }
  .tomato-bg {
    background-color: $tomato-bg;
  }
  .white-bg {
    background-color: #fff;
  }
}
